<!doctype html>
<html>
	<head>
		<title>
			my CSS programs
		</title>
		<style type="text/css">
			body{
					background-image: url('../Images/cssbackground.jpg');
					background-repeat: no-repeat;
					background-size: 800px 900px;
					background-position: right;
					padding-top: 70px;

				}
			.mydiv{
					padding-left: 150px;
					color: #32b0d6;
				}
			a{
					padding-right: 900px;
					text-decoration: none;
					color: #32b0d6;
					font-size: 40px;
					font-family:Apple Chancery; 
				}
		</style>
	</head>
		<body>
			<div class="mydiv">
				<p><br></p><p><br></p>
				<a href="../Views/Sample yahoo.html" target=" ">Sample yahoo<br></a>
				<p><br></p><p><br></p>
				<a href="../Views/sample covant.html" target=" ">Covant</a>
				<p><br></p><p><br></p>
				<a href="../Views/backgroundyahoo.html" target=" ">Yahoo home</a>
				
				<p><br></p><p><br></p>
			</div>
			
		</body>
</html>
