<!doctype html>
<html>
	<head>
		<title>Facebook</title>
		<link rel="stylesheet" type="text/css" 
		href="../CSS/bootstrap.min.css">
		<style type="text/css">
		.div1{
			font-family: Century Gothic;
			font-size: 40px;
			background: #1664b8;
			color: white;
			padding: 20px;
			height: 140px;
			}
		.div2 li{
			list-style-type: none;
			display: inline;
			font-family: Marion;
			color: black;
			font-size: 20px !important;
			}
		.head1{
			text-align: right !important;
			font-size: 15px !important;
			padding-right: 290px;
			}
		.head2{
			text-align: right !important;
			font-size: 15px !important;
			padding-right: 190px;
			}
		img{
			height: 30px !important;
			width: 30px !important;
			}
		.div4{
			
			padding-top: 10px;
			padding-left: 120px !important;
			font-size: 20px;
			}
		.div5{
			margin-top: 0px !important;
			}
		.td1{
			font-size: 15px !important;

			}
		.mydiv{
			padding-top: 60px !important;
			}
		

	</style>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="form-group div1">
					<header class="head1">Email or Phone
					&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					Password</header>
				
					<span class="col-sm-7"><b>Facebook</b></span>
					
					<ul class="col-sm-5 div2">
						<li class="div3">
						<input type="text" value=""/>
						</li>
						<li>
						<input type="password" value=""/>
						</li>
						<li>
						<input type="submit" value="login"/>
						</li>
					</ul>
					<footer class="head2"><input type="checkbox"/>
					 &nbsp;Keep me logged in
					&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  
					Forgot your password?
					</footer>
					
				</div>
			</div>
			<div class="div4">
				<table class="col-sm-5">
					<tr class="mydiv">
						<td>
							<h2>Connect with friends and the world around you on Facebook.</h2>
						</td>
					</tr>
					<tr><td><p class="clearfix"><br/></p></td></tr>
					
					<tr>
						<td>
							<img src="../Images/image.png"> <b> See photos and updates </b>
							from friends in News Feed.
						</td>
					</tr>
					<tr><td><p class="clearfix"><br/></p></td></tr>
					
					<tr>
						<td>
							<img src="../Images/Share.png"> <b> Share what's new </b>
							in your life on your Timeline.
						</td>
					</tr>
					<tr><td><p class="clearfix"><br/></p></td></tr>
					
					<tr>
						<td>
							<img src="../Images/find.png"> <b> See photos and updates </b>
							from friends in News Feed.
						</td>
					</tr>
				</table>
				<div class="col-sm-2">
					<p></p>
				</div>
				<form class="div5 form-group">
					<div class="col-sm-5">
						<table>
						<tr>
							<td>
								<h2>Sign Up</h2>
								It's free and always will be.
							</td>
						</tr>
						<tr><td><p class="clearfix"></p></td></tr>
						<tr>
							<td><input type="text" class="form-control" placeholder="First name"></input><input type="text" class="form-control" placeholder="Last name"></input></td>
						</tr>
						<tr><td><p class="clearfix"></p></td></tr>
						<tr>
							<td><input type="text" class="form-control" placeholder="Email or mobile number"></input></td>
						</tr>
						<tr><td><p class="clearfix"></p></td></tr>
						<tr>
							<td><input type="text" class="form-control" placeholder="Re-enter email or mobile number"></input></td>
						</tr>
						<tr><td><p class="clearfix"></p></td></tr>
						<tr>
							<td><input type="password" class="form-control" placeholder="password"></input>
							</td>
						</tr>
						<tr><td><p class="clearfix"></p></td></tr>
						<tr>
							<td>
								<b>Birthday</b><br/>
								<select>
									<option>Month</option><option>Jan</option><option>Feb</option><option>March</option><option>April</option><option>May</option><option>June</option><option>July</option><option>August</option><option>Sep</option><option>Oct</option><option>Nov</option><option>Dec</option>
								</select>
								<select>
									<option>Day</option>
									<option>Sun</option><option>Mon</option><option>Tue</option><option>Wed</option><option>Thur</option><option>Fri</option><option>Sat</option>
								</select>
								<select>
									<option>Year</option><option>1</option>
								</select>
								<h6>Why do I need to provide my birthday?</h6>
							</td>
						</tr>
						<tr><td><p class="clearfix"></p></td></tr>
						<tr>
							<td>
								<h4>
								<input type="radio" name=="gen"> &nbsp; Female </input>
								 &nbsp; 
								<input type="radio" name=="gen"> &nbsp; Male </input>
							</h4>
							</td>
						</tr>
						<tr><td><p class="clearfix"></p></td></tr>
						<tr>
							<td class="td1">
								By clicking Sign Up, you agree to our <a href="_blank">Terms</a> and that you have read our <a href="_blank"> Data Policy</a>, including our <a href="_blank">Cookie Use</a>.
							</td>
						</tr>
						<tr><td><p class="clearfix"></p></td></tr>
						<tr>
							<td>
								<input type="submit" value="Sign Up"></input>
							</td>
						</tr>
						<tr><td><p class="clearfix"></p></td></tr>
						<tr>
							<td>
								<hr/>
							</td>
						</tr>
						
						<tr>
							<td>
								<h6><footer><a href="_blank">Create a Page</a> for a celebrity, band or business.</footer></h6>
							</td>
						</tr>	
					</table>

				</div>
				</div>
			</div>
		</div>
	</body>
</html>