<!doctype html>
<html>
	<head>
		<title>
			my html programs
		</title>
		<style type="text/css">
			body{
					background-image: url('../Images/htmlbackgroung.jpg');
					background-repeat: no-repeat;
				}
			.mydiv{
					padding-left: 150px;
					color: green;
				}
			a{
					padding-left: 900px;
					text-decoration: none;
					color: green;
					font-size: 40px;
					font-family:Apple Chancery; 
				}
		</style>
	</head>
		<body>
			<div class="mydiv">
				<a href="../Views/Sample%20Singup.html" target=" ">Sample Sign Up<br></a>
				<p><br></p><p><br></p>
				<a href="../Views/signup%20for%20free.html" target=" ">sign up</a>
				<p><br></p><p><br></p>
				<a href="../Views/Table.html" target=" ">Table</a>
				<p><br></p><p><br></p>
				<a href="../Views/UI.html" target=" ">UI</a>
				<p><br></p><p><br></p>
				<a href="../Views/yahoomail.html" target=" ">Yahoo</a>
				<p><br></p><p><br></p>
			</div>
			
		</body>
</html>
