<!doctype html>
<html>
	<head>
		<title>Index Page</title>
		<link rel="stylesheet" type="text/css" 
		href="../CSS/bootstrap.min.css">
		<style type="text/css">
		body{
			background-image: url("../Images/htmlbgimage.jpg");
			background-repeat: no-repeat;
			background-size: 100%;
		}
		.mydiv{
			padding-top: 20px;
			height: 200px;
			width: 300px;
			border-radius: 10px;

		}
		.mydiv1{
			height: 500px;
			width: 1200px;
			padding-top: 150px;
			text-align: center;
			margin-left: 150px;
		}
		</style>
	</head>

	<body>
		<div class="container">
			<div class="col-sm-4 mydiv">
				<a href="../Views/html.html" target=" "><img src="../Images/html.png" class="mydiv"></a>
			</div>
			<div class="col-sm-offset-4 col-sm-4 mydiv">
				<a href="../Views/css.html" target=" "><img src="../Images/css.png" class="mydiv"></a>
			</div>
		</div>
			
			<div class="col-sm-12 mydiv1">
				<a href="../Views/bootstrap.html" target=" "><img src="../Images/bootstrap.jpg" class="mydiv"></a>
			</div>
		
	</body>
</html>
