<!doctype html>
<html>
	<head>
		<title>The New York Times - HomePage</title>
		<link rel="stylesheet" type="text/css" 
		href="../CSS/bootstrap.min.css">
		<style type="text/css">
			.class1{
				border: 1px solid black;
				text-align: center;
				font-family: Apple Chancery;
				font-size: 250%;
			}
			.class2{
				font-family: Edwardian Script ITC;
			}
			.class3{
				border: 2px solid black;
			}
			.class4{
				height: 300px;
				width: 550px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="form-group col-sm-12">
					<p class="clearfix"></p>
					<div class="col-sm-4">
						<span class="glyphicon glyphicon-align-justify"> SECTIONS</span>
						<span> &nbsp; </span>
						<span class="glyphicon glyphicon-search"> SEARCH</span>
					</div>
					<div class="col-sm-offset-5 col-sm-3">
						<span class="btn btn-primary">SUBSCRIBE NOW</span>
						<span class="btn btn-primary">LOG IN</span>
						<span> &nbsp; </span>
						<span class="glyphicon glyphicon-cog"></span>
					</div>
				</div>
				<div class="container">
					<div class="col-sm-12">
						<ul class="nav nav-tabs" style="text-align: right">
							<li class="col-sm-5"></li>
							<li role="presentation" class="active"><a href="#"><B>U.S</B> INTERNATIONAL $$</a></li>	  
						</ul>
					</div>
				</div>
				<div class="container">
				<div class="row">
					<p class="clearfix"></p>
					<div class="col-sm-12">
						<div class="class1 col-sm-2">
							<p></p>
							<p></p>
							Cadillac
							<span class="glyphicon glyphicon-chevron-right"></span>
						</div>
						
						<div class="col-sm-8 text-center">
							<h1 class="class2"> <b> The New York Times </b></h1>
							<p class="clearfix"></p>
							<h6>Sunday, Feb22, 2015 &nbsp; Today's Paper  &nbsp; Video  &nbsp; 44F  &nbsp; Dow+0.86%</h6>
						</div>

						<div class="class1 col-sm-2">
							<p></p>
							<p></p>
							Cadillac
							<span class="glyphicon glyphicon-chevron-right"></span>
						</div>											
					</div>
					<div>
							<p class="clearfix">
							<b></b><hr></hr></b></p>
							<ul class="col-sm-offset-1 list-unstyled list-inline">
								<li>World</li>
								<li>U.S</li>
								<li>Politics</li>
								<li>New York</li>
								<li>Business</li>
								<li>Opinion</li>
								<li>Technology</li>
								<li>Science</li>
								<li>Health</li>
								<li>Arts</li>
								<li>Style</li>
								<li>Food</li>
								<li>Home</li>
								<li>Travel</li>
								<li>Magazine</li>
								<li>Real Estate</li>
								<li>ALL</li>
							</ul>
					</div>
						<p class="clearfix">
						<b></b><hr></hr></b></p>
					<div class="col-sm-12 class3">
						<div class="col-sm-1" style="font-family: Apple Chancery; margin-top: 9px;">Cadillac</div>
						<div class="col-sm-offset-1 col-sm-10 text-uppercase">
							<h4>w e &nbsp; m u s t &nbsp; a l w a y s &nbsp; e v o l v e &nbsp; t o &nbsp; b e n e f i t &nbsp; t h e &nbsp; u n i v e r s e - <i> njeri rionge </i> &nbsp; > </h4>
						</div>
					</div>
						<p class="clearfix">
						<b></b><hr></hr></b></p>
					</div>
					</div>
					<div class="container">
					<div class="row">					
					<div class="col-sm-3">
						<h2><i>Even as Many Eyes Watch, Brutality at Rikers Persists</i></h2>
						<h6>By MICHAEL WINERIP nad MICHEL SCHWIRTZ</h6>
						<p>A review of documents revealed 62 cases in which immates at Rikers Island were seriously injured by correction officers between last August and January, a period of increased attention on conditions at the jail complex.</p>
						<hr></hr>
						<h2><i>Walker Hardens His Tone on Abortion and Gay Marriage</i></h2>
						<h6>By TRIP GABRIEL 12:53ET</h6>
						<p>Wisconsin Gov. Scott Walker, a Republican, has made noticeable shifts on social issues since his re-election.</p>
						<hr></hr>
					</div>
					<div class="col-sm-6">
						<img src="../Images/newspaper1.png" class="class4">
						<h6>Tabitha Waugh, 30, a registered nurse at St.Mary's Medical Center in Huntington, W.Va., is the main breadwinner in her family of four.<br>Nicole Bengiveno/The New York Times</h6>
						<h6 class="text-uppercase">A shifting middle</h6>
						<p>Health Care Opens a Stable Career Path</p>
						<h6 class="text-uppercase">by dionne searcey, eduardo porter and robert gebleoff<br>12:32 pm et</h6>
						<p>Where industrail jobs have grown scarce, nurses and other health care professionals are increasingly leading the way to middle income lifestyles.</p>
					</div>
					<div class="col-sm-3">
						<div>
						<h5 class="text-center"> Sunday Review</h5>
						
							<h6> &nbsp; OP-ED | STEVEN RATTNER</h6>
							<p><b>For Tens of Millons, Obamacare Is Working</b></p>
							<p>The law's cornerstone role in our health care system now seems assured.
								<ul>
									<li>
									<b>Editorial: Don't Give Up the Gains in Education</b>
									</li>
									<li>
										<b>Collins: Ruth Bader Ginsburg</b>
									</li>
									<li>
										<b>Douthat: The G.O.P Policy Test</b>
									</li>
								</ul>

						</div>
					
					</div>
					</div>
					

			</div>
		</div>
	</body>
</html>