<!DOC type html>
<html>
<head>
	<title>Free signup sheet</title>
</head>
<body bgcolor="grey">
	<form>
	<table align="center">
		<tr>
			<td>
				<h3>SIGN UP FOR A FREE ACCOUNT</h3>
			</td>
		</tr>
		<tr></tr><tr></tr><tr></tr>
		<tr>
			<td align="center">
				<img src="../Images/facebook.gif" alt="facebook icon" style:width="10px"/>
			</td>
		</tr>
		<tr></tr><tr></tr><tr></tr>
		<tr>
			<td>
				<p><h4>Enter your information below. All fields are required</h4></p>
			</td>
		</tr>
		<tr></tr><tr></tr><tr></tr>
		
		<tr>
			<td align="right"> Email Address: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" width="50px"/>
			</td>
		</tr>
		<tr>
			<td align="right"> Retype Email:
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" width="50px"/>
			</td>
		</tr>
		<tr>
			<td align="right"> Password:
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="password" width="50px"/>
			</td>
		</tr>	
		<tr>
			<td align="right"> Retype Password:
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="password" width="50px"/>
			</td>
		</tr>
		<tr>
			<td align="right"> Firdt Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" width="50px"/>
			</td>
		</tr>
		<tr>
			<td align="right"> Last Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" width="50px"/>
			</td>
		</tr>
		<tr>
			<td align="right"> Country: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<select>
				<option>Select a Country</option>
				<option>India</option>
				<option>USA</option>
				<option>UK</option>
				<option>China</option>
			</select>
			</td>
		</tr>
		<tr>
			<td align="right"> Birthday: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<select>
				<option>MM</option>
				<option>Jan</option>
				<option>Feb</option>
				<option>March</option>
				<option>April</option>
			</select>
			<select>
				<option>DD</option>
				<option>01</option>
				<option>02</option>
				<option>03</option>
				<option>04</option>
			</select>
			<select>
				<option>YYYY</option>
				<option>2000</option>
				<option>2001</option>
				<option>2002</option>
				<option>2003</option>
			</select>
			</td>
			<tr>
			<td align="right"> Community Nmae: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" width="50px"/>
			</td>
		</tr>
		<tr>
			<td> 
				<input type="checkbox"/>
				&nbsp;&nbsp;&nbsp;&nbsp;
				Contact me with news and exclusive content about call of Duty and Activision producrs.
				

			</td>
		</tr>
	</table>
	</form>
</body>
</html>