<!DOC type>
<html>
	<head>
		<title>Creating A Table</title>
	</head>
	<body>
		<table align="center" bordercolor="green" width="100" cellpadding="20" cellspacing="0" border="1">
			
				<thead>
					<tr>
					<td><th><h3>Time Table</h3></th></td>
					</tr>
				</thead>
			<tr>
				<td><b>Mon</b></td>
				<td><b>Tue</b></td>
				<td><b>Wed</b></td>
				<td><b>Thur</b></td>
				<td><b>Fri</b></td>
			</tr>
			<tr>
				<td>Science</td>
				<td>Maths</td>
				<td>Science</td>
				<td>Maths</td>
				<td>Arts</td>
			</tr>
			<tr>
				<td>Social</td>
				<td>History</td>
				<td>English</td>
				<td>Social</td>
				<td>Sports</td>
			</tr>
			<tr>
				<td>Lunch</td>
			</tr>
			<tr>
				<td>Science</td>
				<td>Maths</td>
				<td>Science</td>
				<td>Maths</td>
				<td>Project</td>
			</tr>	
			<tr>
				<td>Social</td>
				<td>History</td>
				<td>English</td>
				<td>Social</td>
				<td>project</td>
			</tr>
		</table>
	</body>
	</html>
		