<!doctype html>
<html>
<head>
<title>
	Yahoo Home
</title>
<style type="text/css">
	.td1{
		color: purple;
		background-color: white;
		text-align: left;
		width: 93%;
	}
	.td2{
		padding-right: 10px;
		color: purple;
	}
	.td3{
		color: purple;
	}
	.td4{
		background-image: ('yahoomaillogo.jpg');

	}

</style>
</head>
<body>
	<table>
		<tr>
			<td class="td1">	<span>YAHOO<i>!</i></span> </td>
			<td class="td2" align="right"><span>Sign In</span>
			<td class="td3">Help<td>
		</tr>
		<tr>
			<td class=".td4">
				<a href="file:///Users/Rasmi/Desktop/Sample%20yahoo.html">
					Signup</a>
				<!--<img src="yahoomaillogo.jpg">-->
			</td>	
		</tr>

	</table>
</body>