<!doctype html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" >
<style type="text/css">
	.backgcls{
		background-color: #eee; 
	}
	.subbodycls1{
		margin-top: 60px;
	}
	.subbodycls2{
		margin-top: 30px;
		padding-top: 30px;
		box-shadow: 0px 0px 5px;
		background-color: #fff;
	}

	.btn{
		border-radius: 20px;
	}

</style>
</head>
<body class=" backgcls">
	<div ></div>
	<div class="container subbodycls1">
		<div class="col-sm-offset-2 col-sm-8 subbodycls2">
			<form class="form-horizontal" >
			  <div class="form-group">
			    <label class="col-sm-2 control-label">Email: </label>
			    <div class="col-sm-10 ">
			      <input type="email" class="form-control  emailClass" Required=" d" id="emailId" placeholder="email@example.com ">
			  	</div>
			  </div>
			  <div class="form-group">
			    <label class="col-sm-2 control-label">Password: </label>
			    <div class="col-sm-10">
			      <input type="password" class="form-control" Required=" " id="pwdId" placeholder="Password">
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <div class="checkbox">
			      	 <label>
			      	 	<input type="checkbox" > Remember Me 
			      	 </label>
			      </div>
			    </div>
			  </div>
			  <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" class="btn btn-primary loginClass">Login </button>
			    </div>
			  </div>
			  <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
			      <a href="#"> Forgot Password?</a>
			    </div>
			  </div>
			  <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
			      <a href="../views/SignUp.html"> Need an account?</a>
			      <a class="btn btn-primary" href="../views/SignUp.html" target="contentcls"> Sign Up</a>
			    </div>
			  </div>
	  	</div>
	</div>
<script type="text/javascript" src="../js/jquery-2.1.3.min.js"></script>

<script type="text/javascript"> 
	$(document).ready(function(){
		$('.loginClass').click(function(){
			
			var emailVal=/^\w+([\-.]?\w+)*@\w+([\-.]?\w+)*(\.\w{2,3})+$/;
			var evar=$(' #emailId ').val();
			var pvar=$(' #pwdId ').val();
			var eadm = 'admin@ad.com';
			var padm = 'admin';
			
						  // alert( evar );
			if (evar.match(emailVal) ) {
				if (pvar.match(adm)) {
					window.location="http://stackoverflow.com";
				   }
				 // alert( "Enter valid email"); 
				//$('.emailClass').css({border:'1px solid red'}  );
			}
			// else {if (evar.match(adm)) {
			// 	// alert( "a"); 
			// 	$('.emailClass').css({border:'1px solid red'}  );
			// 	// window.location="http://stackoverflow.com";
			// }};
				

		});	
	});	

</script>

</body >
</html>