<div class="container">
	<h1 class="text-center">Home</h1>
	<table class="table table-responsive table-bordered table-hover">
		<thead>
			<tr>
				<th>S.No</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Name</th>
				<th>DOB</th>
				<th>Age</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="object in myArry">
				<td data-ng-bind="$index"></td>
				<td data-ng-bind="object.fname"></td>
				<td data-ng-bind="object.lname"></td>
				<td data-ng-bind="object.name"></td>
				<td data-ng-bind="object.dob"></td>
				<td data-ng-bind="object.area"></td>
			</tr>
		</tbody>
	</table>
	<div class="btn btn-default" ng-click="fnContatpage()">click here to Contact</div>
</div>