<!doctype html>
<html>
<head>
<title>Basic Style Form</title>
<link rel="stylesheet" type="text/css" href="../CSS for class/Basic Style Form.CSS">
</head>
<body class="body1st">
	<div class="maindiv1">
		<span class="firstspan">*Required </span>
		<br/>
		<br/>
		<table class="firsttable" align="center" cellspacing="5px" cellpadding="5px">
			<tr>
				<th colspan="2">Shipping Address</th>
			</tr>
			<tr></tr>
			<tr>
				<td class"tds1">*Name: </td>
				<td><input type="text" name="name" size="35"/></td>
			</tr>
			<tr>
				<td class"tds1">*Address: </td>
				<td><input type="text" name="address" size="35"/></td>
			</tr>
			<tr>
				<td class"tds1">Address: </td>
				<td><input type="text" name="address" size="35"/></td>
			</tr>
			<tr>
			    <td class"tds1">*City: </td>
				<td><input type="text" name="city" size="35"/></td>
			</tr>
			<tr>
			    <td class"tds1">*State: </td>
				<td><input type="text" name="state" size="35"/></td>
			</tr>
			<tr>
			    <td class"tds1">*Zip: </td>
				<td><input type="text" name="zip" size="35"/></td>
			</tr>
		</table><br/><br/>

		<table class="firsttable" align="center"cellpadding="5px" cellspacing="5px">
			  <tr>
				<th colspan="2">Billing Address</th>
			</tr>
			<tr></tr>
			<tr>
				<td class"tds1">*Name: </td>
				<td><input type="text" name="name" size="35"/></td>
			</tr>
			<tr>
				<td class"tds1">*Address: </td>
				<td><input type="text" name="address" size="35"/></td>
			</tr>
			<tr>
				<td class"tds1">Address: </td>
				<td><input type="text" name="address" size="35"/></td>
			</tr>
			<tr>
			    <td class"tds1">*City: </td>
				<td><input type="text" name="city" size="35"/></td>
			</tr>
			<tr>
			    <td class"tds1">*State: </td>
				<td><input type="text" name="state" size="35"/></td>
			</tr>
			<tr>
			    <td class"tds1">*Zip: </td>
				<td><input type="text" name="zip" size="35"/></td>
			</tr>
		</table>
    </div>	
</body>
</html>