<!doctype html>
<html>
<head>
<title>CharecterCreation</title>
<link rel="stylesheet" type="text/css" href="../css From Boostrap/bootstrap.min.css">
<style type="text/css">
body{
	 background-image: url("../images for class/bgimage.jpg");
	 background-repeat: no-repeat; 
	 background-size: 100%;
}
.subdiv1{
	color: white;
	font-size: 38px;
}
.subdiv2{
	color:white;
	font-size: 18px;
	font-weight: bold;
}
li{
	padding: 10px;
	margin-right: -6px;
}
.li1{
	border-top-left-radius: 10px;
}
.li2{
	border-top-right-radius: 10px;
}
.ul1 li{
	display: inline-block;
	color: white;
	background-color: #7f4849;
}
.bodydiv{
	border: 1px solid white;
	height: 500px;
	width: 100%;
	border-radius: 15px;
	background-color: #ebe0eb;
  margin-top: -20px;
  
}
.p1{
	font-weight: bold;
	color: #7f4849;
	font-size: 20px;
   padding: 6px;
}
.bodydivl1{
  background-color: #dddddd;
  border-radius: 10px;
}
.bodydivl1:hover{
  background-color: #7f4849;
}
.bodyp{
  font-size: 12px;
  margin-left: 100px;
  padding-top: 3px;
}
.footerdiv{
  background-color: black;
}
.footerpara{
  color: white;
}
</style>
</head>
<body>
    <div class="maindiv container">
      <br>
	<div>
	    <div class="col-sm-2 subdiv1"> CHARACTER CREATIONS</div>
            <div class=" col-sm-10 text-right subdiv2">
            	Unique Hand-Crafted Cake Toppers
            	<p class="clearfix"></p>
              <br>
            	<div>
            	    <ul class="list-unstyled ul1">
            		<li class="li1">Home</li>
            		<li>About Me</li>
            		<li>Toppers</li>
            		<li>Gallery</li>
            		<li>Prices</li>
            		<li>Ordering</li>
            		<li>Feedback</li>
            		<li>links</li>
            		<li class="li2">Contact</li>
            	     </ul>
            	</div>
            </div>
        </div>
        <p class="clearfix"></p>
        <div class="bodydiv">
             <p class="p1"> Prices</p>
             <div class="col-sm-4">
             	 <div class="bodydivl1">
                <p class="bodyp">Standard Bride and Groom 
                  <br>
                  Mounted on a round base</p>
                <p class="bodyp">&pound;110 </p>
                </div>
                <div class="clearfix"></div>
               <div class="bodydivl1">
                 <p class="bodyp">Pets</p>
                 <p class="bodyp">&pound;10 </p>
               </div>
               <div class="clearfix"></div>
               <div class="bodydivl1">
                 <p class="bodyp">Cars
                  <br>
                  Freestanding
                 </p>
                 <p class="bodyp">&pound;50 </p>
               </div>
               <div class="bodydivl1">
                 <p class="bodyp">Cars
                  <br>
                  Freestanding
                 </p>
                 <p class="bodyp">&pound;50 </p>
               </div>
               <div class="bodydivl1">
                 <p class="bodyp">Single Adult Figurines
                  <br>
                  Mounted on a round base
                 </p>
                 <p class="bodyp">&pound;40 </p>
               </div>
               <div class="bodydivl1">
                 <p class="bodyp">Postage and packing Applies to all orders 1st class special Delivary
                 </p>
                 <p class="bodyp">&pound;9.50 </p>
               </div>
             </div>
             <div class="col-sm-4">
               <div class="bodydivl1">
                <p class="bodyp">Children
                <br> 
                Added to Bride and Groom </p>
                <p class="bodyp">+&pound;25 </p>
                </div>
                <div class="clearfix"></div>
                <div class="bodydivl1">
                 <p class="bodyp">Small Pets</p>
                 <p class="bodyp">&pound;5 </p>
                </div>
                <div class="clearfix"></div>
                <div class="bodydivl1">
                 <p class="bodyp">Motorbike/Moped
                  <br>
                  Mounted on a round base
                 </p>
                 <br>
                 <p class="bodyp">+&pound;50 </p>
                </div>
                <div class="clearfix"></div>
                <div class="bodydivl1">
                 <p class="bodyp">Children and Babies
                 <br>
                 Mounted on a round base
                 </p>
                 <p class="bodyp">&pound;35 </p>
                </div>
             </div>
             <div class="col-sm-4">
               <div class="bodydivl1">
                   <p class="bodyp">Baby</p>
                   <br>
                   <p class="bodyp">&pound;20 </p>
                </div>
                <div class="clearfix"></div>
               <div class="bodydivl1">
                 <p class="bodyp">Cars with Bride and Groom</p>
                 <p class="bodyp">&pound;100 </p>
               </div>
               <div class="clearfix"></div>
                <div class="bodydivl1">
                 <p class="bodyp">Animals dressed as Bride and Groom
                 <br>
                  Mounted on a round base
                 </p>
                 <p class="bodyp">&pound;85 </p>
                </div>
                <div class="clearfix"></div>
                <div class="bodydivl1">
                 <p class="bodyp">Extra Props</p>
                 <br>
                 <p class="bodyp">Please <b>email</b> me </p>
                </div>
             </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <div class="footerdiv clearfix">
          <div class="col-sm-6">
            <p class="footerpara"> Character Creations <br>
                Unique, handcrafted cake toppers and keepsakes created for you <br>
                These Unique handcrafted cake toppers can be made to resemble the red people <br>
                A keepsake to last forever <br>
                Email: sarah@charactercreations.co.uk
            </p>
          </div>
          <div class="col-sm-4">
            <p class="footerpara"> &copy; 2009 Character Creations<br>
              <br>
              Website design by <br>
              Autumn Rain Studios
            </p>
          </div>
          <div class="col-sm-2 text-right">
            <p class="footerpara"> Sitemap <br>
              Privacy <br>
              Toppers <br>
              Prices <br>
              Contact
            </p>
          </div>
        </div>
      </div>
</body>
</html>

