<!doctype html>
<html>
<head>
<title>Sample Form Program</title>
<style type="text/css">
div{
	margin-top: 200px;
}
table,th,td {
       border:1px solid gray;
}
td { text-align: right; }
.col1 { background-color: #808080; } 
.col2 { background-color: #ff7f7f; }
.col3 { background-color: #ffb44d; }
.col4 { background-color: #eaf57f; }
.col5 { background-color: #99ff7f; }
.col6 { background-color: #86ffa4; }
.col7 { background-color: #7fffe3; }
.col8 { background-color: #7fb9ff; }
.col9 { background-color: #8f92ff; }
.col10 { background-color: #c27fff; }
.col11 { background-color: #eaf57f; }

</style>
</head>
<body>
	<div>
	<table align="center" cellspacing="0px">
		<thead>
			<tr>
				<th colspan="11">Table name</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="col1"></td>
				<td>col 01</td>
				<td>col 02</td>
				<td>col 03</td>
				<td>col 04</td>
				<td>col 05</td>
				<td>col 06</td>
				<td>col 07</td>
				<td>col 08</td>
				<td>col 09</td>
				<td>col 010</td>
			</tr>
			<tr>
				
				<td>ROW 1</td>
				<td class="col2">1.0</td>
				<td class="col3">11.0</td>
				<td class="col4">21.0</td>
				<td class="col5">31.0</td>
				<td class="col6">41.0</td>
				<td class="col7">51.0</td>
				<td class="col8">61.0</td>
				<td class="col9">71.0</td>
				<td class="col10">81.0</td>
				<td class="col11">91.0</td>
			</tr>
			<tr>
				
				<td>ROW 2</td>
				<td class="col2">2.0</td>
				<td class="col3">12.0</td>
				<td class="col4">22.0</td>
				<td class="col5">32.0</td>
				<td class="col6">42.0</td>
				<td class="col7">52.0</td>
				<td class="col8">62.0</td>
				<td class="col9">72.0</td>
				<td class="col10">82.0</td>
				<td class="col11">92.0</td>
			</tr>
			<tr>
				<td>ROW 3</td>
				<td class="col2">3.0</td>
				<td class="col3">13.0</td>
				<td class="col4">23.0</td>
				<td class="col5">33.0</td>
				<td class="col6">43.0</td>
				<td class="col7">53.0</td>
				<td class="col8">63.0</td>
				<td class="col9">73.0</td>
				<td class="col10">83.0</td>
				<td class="col11">93.0</td>
			</tr>
			<tr>
				<td>ROW 4</td>
				<td class="col2">4.0</td>
				<td class="col3">14.0</td>
				<td class="col4">24.0</td>
				<td class="col5">34.0</td>
				<td class="col6">44.0</td>
				<td class="col7">54.0</td>
				<td class="col8">64.0</td>
				<td class="col9">74.0</td>
				<td class="col10">84.0</td>
				<td class="col11">94.0</td>
			</tr>
			<tr>
				<td>ROW 5</td>
				<td class="col2">5.0</td>
				<td class="col3">15.0</td>
				<td class="col4">25.0</td>
				<td class="col5">35.0</td>
				<td class="col6">45.0</td>
				<td class="col7">55.0</td>
				<td class="col8">65.0</td>
				<td class="col9">75.0</td>
				<td class="col10">85.0</td>
				<td class="col11">95.0</td>
			</tr>
			<tr>
				<td>ROW 6</td>
				<td class="col2">6.0</td>
				<td class="col3">16.0</td>
				<td class="col4">26.0</td>
				<td class="col5">36.0</td>
				<td class="col6">46.0</td>
				<td class="col7">56.0</td> 
				<td class="col8">66.0</td>
				<td class="col9">76.0</td>
				<td class="col10">86.0</td>
				<td class="col11">96.0</td>
			</tr>
			<tr>
				<td>ROW 7</td>
				<td class="col2">7.0</td>
				<td class="col3">17.0</td>
				<td class="col4">27.0</td>
				<td class="col5">37.0</td>
				<td class="col6">47.0</td>
				<td class="col7">57.0</td>
				<td class="col8">67.0</td>
				<td class="col9">77.0</td>
				<td class="col10">87.0</td>
				<td class="col11">97.0</td>
			</tr>
			<tr>
				<td>ROW 8</td>
				<td class="col2">8.0</td>
				<td class="col3">18.0</td>
				<td class="col4">28.0</td>
				<td class="col5">38.0</td>
				<td class="col6">48.0</td>
				<td class="col7">58.0</td>
				<td class="col8">68.0</td>
				<td class="col9">78.0</td>
				<td class="col10">88.0</td>
				<td class="col11">98.0</td>
			</tr>
			<tr>
				<td>ROW 9</td>
				<td class="col2">9.0</td>
				<td class="col3">19.0</td>
				<td class="col4">29.0</td>
				<td class="col5">39.0</td>
				<td class="col6">49.0</td>
				<td class="col7">59.0</td>
				<td class="col8">69.0</td>
				<td class="col9">79.0</td>
				<td class="col10">89.0</td>
				<td class="col11">99.0</td>
			</tr>
			<tr>
				<td>ROW 10</td>
				<td class="col2">10.0</td>
				<td class="col3">20.0</td>
				<td class="col4">30.0</td>
				<td class="col5">40.0</td>
				<td class="col6">50.0</td>
				<td class="col7">60.0</td>
				<td class="col8">70.0</td>
				<td class="col9">80.0</td>
				<td class="col10">90.0</td>
				<td class="col11">100.0</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>