<!doctype html>
<html>
<head>
<title>Sample Table</title>
</head>
<body>
	<div style="margin-top: 200px">
	<table border="1" cellpadding="15" cellspacing="0" align="center">
		<tr>
			<td>
     <table border="1" cellpadding="15" cellspacing="2">
     	<caption>CSS3 Browser Support(latest browser versions)</caption>
      <tr>
            <th>CSS Property</th>
            <th>Internet Explorer</th>
            <th>FireFox</th>
            <th>Chrome</th>
            <th>Safari</th>
            <th>Opera</th>

      </tr>
      <tr>
      	<td><b>Border Radius</b></td>
      	<td>YES</td>
      	<td>YES</td>
      	<td>YES</td>
      	<td>YES</td>
      	<td>YES</td>
      </tr>
      <tr>
      	<td><b>Box Shadow</b></td>
      	<td>YES</td>
      	<td>YES</td>
      	<td>YES</td>
      	<td>YES</td>
      	<td>YES</td>
      </tr>
      <tr>
      	<td><b>CSS Animations</b></td>
      	<td>NO</td>
      	<td>NO</td>
      	<td>YES</td>
      	<td>YES</td>
      	<td>NO</td>
      </tr>
  </table>
</td>
</tr>
</table>
</div>
</body>
</html>