<!doctype html>
<html>
<head>
<title>Magazine Administration Board</title>
<link rel="stylesheet" type="text/css" href="../css From Boostrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../CSS for class/Magazine Administration Board.css">
</head>
<body>
<div>
    <div class="subdiv1 clearfix" >
		<div class="logo col-sm-6 subdiv2 text-center">Magazine Administration Board
			<br>
			<ul class="items2">
	    	<li style="background-color: #f9ebae; font-weight: bold;">Dashboard</li>
	    	<li>Category</li>
	    	<li>User Management</li>
	       </ul>
		</div>
		<div class="col-sm-6 subdiv3">
		    <ul class="items text-right">
		       <li><a href="#">Go to front page</a></li>
		       <li>Hello thangchung</li>
		       <li><a href="#">Sign out</a></li>
		    </ul>
	    </div>
	</div>
	<br>
	<div class="col-sm-10 bodydiv">
		<p><u>Dashboard </u> &gt; Current Articles</p>
    <div class="logo col-sm-7">
    	<table class="table">
    		<tr>
    			<th  class="th1" colspan="2">Current News</th>
    			<th class="th1"></th>
    			<th class="th1"colspan="3">Search news 
                   <input type="text" name="search">
                   <input type="button" value="Search" style="color:black">
    			</th>
    		</tr>
    		<tr>
    			<th class="th2"><input type="checkbox"></th>
    			<th class="th2">Title</th>
    			<th class="th2">Date</th>
    			<th class="th2">Added by</th>
    			<th class="th2" style="text-align:center">Content &nbsp; &nbsp; Control</th>
    		</tr>
    		<tr>
    			<td><input type="checkbox"></td>
    			<td style="color: #ba4c32;">This is just demo news</td>
    			<td>19/06/2012</td>
    			<td style="text-decoration: underline; color: #ba4c32;">thangchung</td>
    			<td style="text-align:center"><img src="../images for class/trashicon.gif"> Delete &nbsp; &nbsp; <img src="../images for class/edit.png"> Edit</td>
    		</tr>
    		<tr>
    			<td><input type="checkbox"></td>
    			<td style="color: #ba4c32;">Article Title</td>
    			<td>19/06/2012</td>
    			<td style="text-decoration: underline; color: #ba4c32;">thangchung</td>
    			<td style="text-align:center"><img src="../images for class/trashicon.gif"> Delete &nbsp; &nbsp; <img src="../images for class/edit.png"> Edit</td>
    		</tr>
    		<tr>
    			<td><input type="checkbox"></td>
    			<td style="color: #ba4c32;">Second Article Title</td>
    			<td>19/06/2012</td>
    			<td style="text-decoration: underline; color: #ba4c32;">thangchung</td>
    			<td style="text-align:center"><img src="../images for class/trashicon.gif"> Delete &nbsp; &nbsp; <img src="../images for class/edit.png"> Edit</td>
    		</tr>
    		<tr>
    			<td><input type="checkbox"></td>
    			<td style="color: #ba4c32;">Sample Article</td>
    			<td>19/06/2012</td>
    			<td style="text-decoration: underline; color: #ba4c32;">thangchung</td>
    			<td style="text-align:center"><img src="../images for class/trashicon.gif"> Delete &nbsp; &nbsp; 
    				<img src="../images for class/edit.png"> Edit</td>
    		</tr>
    		<tr>
    			<td colspan="2">Showing 1-4 of 4</td>
    			<td></td>
    			<td></td>
    			<td style="text-align:right">
    				<button>Previous</button>
    				<button>1</button>
    				<button>Next</button>
    			</td>
    		</tr>
    	</table>
    </div>
    <div class="logo col-sm-3 subdiv4 clearfix">
    	<p class="sidepara" style="margin-left: 0px;">Management</p>
    	<br>
    	<button class="button1"><img src="../images for class/plus_red.png">Add new Article</button>
    	<div class="clearfix"></div>
    	<input type="checkbox" style="margin-top: 25px; margin-left: 10px;"/><u>select all</u>
    	<p style="margin-top: 25px; color: #ba4c32; text-decoration: underline; margin-left: 10px;">Delete Selected</p>
    	<hr>
    	<p>Sort by</p>
    	<select>
    		<option>Title</option>
    	</select>
    	<br>
    	<select>
    		<option>Date</option>
    	</select>
    	<br>
    	<select>
    		<option>Author</option>
    	</select>
    </div>
	</div>
    <br>
    <div class="clearfix"></div>
    <div class="subdiv5">
    <span class="span1">&copy; 2012 - Context is King</span>
    <span class="span2">Design by <a href="#">Chocotemplates.com</a></span>
</div>
</div>
</body>
</html>