<!doctype html>
<html>
<head>
<title>Sample Form Program</title>
</head>
<body>
	<div style="background-color: black; height:60px; color:white">
		<span><b style="font-size:20px; margin-left: 30px; position: absolute; top: 25px">SAMPLE APP</b></span>
		<div style="margin-right:30px; margin-top: 20px; float: right">
		<pre>Home  Help  Signin</pre>
	</div>
   </div>

   <div style="text-align:center" >
   	<h1>Sign up</h1> 
   </div>
    <div style="height:500px" align="center">
     	 <table cellpadding="5">
     	  <tr>	
            <td> Name</td>
          </tr> 
          <tr>
           <td> <input style="height:20px" type="text" name="name" size="40" /> </td>
         </tr>
         <tr>
            <td> Email </td>
        </tr>
        <tr>
          <td> <input style="height:20px" type="text" name="email" size="40" /> </td>
         </tr>
         <tr>
           <td>Password </td>
         </tr>
          <tr>
           <td> <input style="height:20px" type="password" name="password" size="40" /> </td>
          </tr>
          <tr>
            <td>Confirmation </td>
          </tr>
           <tr>
             <td><input style="height:20px" type="password" name="password" size="40" /> </td>
          </tr>
          <tr>
          	<td> <input style="background-color:royalblue; color:white; height:30px" type="button" value="Create my account" /></td>
          </tr>
       </table>
   </div>
<hr>
<span style="font-size:14px">Rails Tutorial by Michael Hart!</span>
<div style="margin-right:30px; float: right">
<pre>About Contact News</pre>
</div>
  </body>
</html> 