<!doctype html>
<html>
<head>
<title>HTML, CSS & Bootstrap </title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" >
<style type="text/css">
	.bodycls {
		background-color: rgb(147, 0, 0);
		height: 526px;

	}
	.textcls{
		margin: 66px 14px 10px;
		color: #70F4FF ;
		 font-size: 25px;

	}
	.glyphicon{
		font-size: 20px;
		color: #70F4FF ;

	}
	.a{
		color: #70F4FF ;
		text-decoration: none !important;

	}
	a:visited{
	 	color: #70F4FF ;
		text-decoration: none !important;
	 }
	 a:hover , .glyphicon:hover {
		color: #9EC000;
		text-decoration: none;
	}
	 
</style>
</head>
<body >
	<div class="container-fluid bodycls">
		<div class="container conpart">
			<p class="textcls">
				<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
				<a href="../views/Magazine_Admin_Board-Sri.html " target="_blank" class="a"> Magazine Administration Board</a><br>
				<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
				<a href="../views/Character_Creations.html" target="_blank" class="a"> Character Creations</a>
			</p>
		</div>
	</div>
</html>