body{
	background-color: #f9ebae;
}
.subdiv1{
	background-color: #ba4c32;
	padding-top: 15px;
	color: white;
}
.subdiv2{
	font-size: 22px;
}
.subdiv3{
    font-size: 12px;	
}
a{
	text-decoration: underline;
	color: white;
}
.items{
    margin-right: 80px;
}
.items li{
	list-style-type: none;
	display: inline-block;
	padding: 5px;

}
.items2{
	padding-top: 20px;
	margin-bottom: 0px;
}
.items2 li{
	list-style-type: none;
	display: inline-block;
	font-size: 15px;
    background-color: #efca4b;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px;
    color: black;
}
p{
	font-size: 13px;
	margin-left: 10px;
}
table{
	background-color: white;
    border-radius: 10px;
}
.sidepara{
	background-color: #ba4c32; 
	color: white;
	padding: 10px;
    font-size: 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.subdiv4{
	background-color: white;
	padding: 0px;
}
select{
	margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 10px;
    padding: 3px;
    width: 200px;
}
.subdiv5{
	background-color: #ba4c32;
	margin-top: 50px;
	padding: 10px;
	color:white;
}
.span1{
	margin-left: 200px;
}
.span2{
	float: right;
	margin-right: 200px;

}
.bodydiv{
	margin-left: 230px;
}
.th1{
	background-color: #ba4c32;
	color: white;
}
.button1{
	margin-left: 10px;
	font-weight: bold;
}